@keyframes rotate{
    0%{
        transform: rotate(0)
    }
    100%{
        transform: rotate(360deg)
    }
}
.audioBox{
    height: 30px;
    width: 30px;
    src: url('../../../assets/img/Music.png');
    position: fixed;
    top: 15px;
    right: 5px;
    animation:'rotate 20s linear infinite';
    z-index: 2;
}