.room {
  .map {
    position: relative;
    background-color: crimson;
  }
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .content {
    width: 500px;
    height: 667px;
    overflow: scroll;
    background-color: royalblue;
  }
}
