.resultBack {
  z-index: 501;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
}
.mapView {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.backMap {
  background-image: url(../../../../assets/img/room/Map/map.png);
  background-repeat: no-repeat;
  width: 1290px;
  height: 3096px;
  position: absolute;
  background-size: cover;
  transition: .2s linear;
  // transform: translateX(-700px) translateY(-2296px);
  // animation: mapMove 18s linear forwards;
  // @keyframes mapMove {
  //   from {
  //   }
  //   to {
  //     transform: translate(0, -300px);
  //   }
  // }
  @keyframes big {
    from {
      width: 75px;
      height: 80px;
    }
    50% {
      width: 95px;
      height: 100px;
    }
    to {
      width: 75px;
      height: 80px;
    }
  }
  .start {
    width: 100px;
    height: 130px;
    position: absolute;
    top: 2550px;
    left: 650px;
  }
  & > div {
    z-index: 2;
  }
  & > div:nth-child(1) {
    position: absolute;
    width: 75px;
    height: 80px;
    background-image: url(../../../../assets/img/room/Map/wow.png);
    background-size: cover;
    bottom: 540px;
    left: 800px;
    animation: big 1s infinite;
  }
  & > div:nth-child(2) {
    position: absolute;
    width: 75px;
    height: 80px;
    background-image: url(../../../../assets/img/room/Map/wow.png);
    background-size: cover;
    top: 890px;
    left: 790px;
    animation: big 1s infinite;
  }
  & > div:nth-child(3) {
    position: absolute;
    width: 75px;
    height: 80px;
    background-image: url(../../../../assets/img/room/Map/wow.png);
    background-size: cover;
    top: 750px;
    left: 780px;
    animation: big 1s infinite;
  }
  & > div:nth-child(4) {
    position: absolute;
    width: 75px;
    height: 80px;
    background-image: url(../../../../assets/img/room/Map/wow.png);
    background-size: cover;
    top: 1150px;
    left: 550px;
    transform: rotate(360deg);
    animation: big 1s infinite;
  }
  & > div:nth-child(5) {
    position: absolute;
    width: 75px;
    height: 80px;
    background-image: url(../../../../assets/img/room/Map/wow.png);
    background-size: cover;
    bottom: 1540px;
    left: 800px;
    animation: big 1s infinite;
  }
  & > div:nth-child(6) {
    position: absolute;
    width: 75px;
    height: 80px;
    background-image: url(../../../../assets/img/room/Map/wow.png);
    background-size: cover;
    bottom: 890px;
    left: 540px;
    animation: big 1s infinite;
  }
}
.result {
  z-index: 502;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 305px;
  height: 419px;
  background-image: url(../../../../assets/img/room/Map/backPop.png);
  background-size: cover;
  .cancel {
    transform: rotate(10deg);
    right: 0;
    top: 100px;
    position: absolute;
    width: 41px;
    height: 41px;
    background-image: url(../../../../assets/img/room/letterpop/shut.png);
    background-size: cover;
  }
  & > div:nth-child(2) {
    margin-top: 120px;
    font-family: "basic";
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 34px;
    /* identical to box height */

    color: #3e600e;
  }
  & > div:nth-child(3) {
    margin-top: 3px;
    height: 14px;
    font-family: "basic";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-align: center;

    color: #567f1f;
  }
  & > div:nth-child(4) {
    height: 14px;
    font-family: "basic";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-align: center;

    color: #567f1f;
  }
  & > div:nth-child(5) {
    margin-top: 10px;
    width: 190px;
    height: 132px;
    left: 93px;
    top: 278px;
    border: 2px solid #608a34;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .pic {
      margin-top: 4px;
      border-radius: 10px;
      img {
        width: 169px;
        height: 121.76px;
        border-radius: 10px;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
      }
    }
  }
  p {
    margin-top: 5px;
    font-family: "basic";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #93c39c;
  }
  & > div:nth-child(6) {
    margin-top: 25px;
    font-family: "basic";
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4d7711;
    span {
      color: #fea501;
    }
  }
  & > div:nth-child(7) {
    margin-top: 7px;
    font-family: "basic";
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4d7711;
  }
  & > div:nth-child(8) {
    font-family: "basic";
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4d7711;
  }
}
.juanjuan {
  -webkit-touch-callout: none;
  pointer-events: none;
  position: fixed;
  z-index: 500;
  width: 100px;
  height: 130px;
  //   background-color: red;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  background-image: url(../../../../assets/img/room/Map/juanjuan3.png);
  background-repeat: no-repeat;
  background-position: (0px, -10px);
  @keyframes run {
    from {
      background-position: (0px, -140px);
    }
    to {
      background-position: (-1266px, -140px);
    }
  }
}
.juanjuan {
  animation: run 1s steps(12) infinite;
}
.paused {
  animation: run 1s steps(12);
}
