.back {
  width: 375px;
  height: 100%;
  background-color: royalblue;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  .person {
    width: 300px;
    height: 400px;
    background-color: salmon;
    transition-duration: 2s;
    transition-property: width, height;
    transition-timing-function: ease-in-out;
  }
}
