@keyframes reverseRotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(-360deg);}
}
@keyframes rotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(360deg);}
}
.hidden{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.home_backgroud{
    width: 375px;
    height: 812px;
    background: url('../../assets/img/Home/首页x尺寸.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    .t1{
        position: absolute;
        top:265px;
        left: 104px;
        width: 180px;
        font-family:'basic';
        font-style: normal;
        font-weight: lighter;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.22em;
        color: #50783B;
    }
    .t2{
        position: absolute;
        top:293px;
        left: 97px;
        span:nth-child(odd){
            font-family:'basic';
            font-style: normal;
            font-size: 21px;
            line-height: 29px;
            letter-spacing: 0.18em;
            font-weight: lighter;
            color: #FFA302;
            text-align: center;
            width:29px
        };
        span:nth-child(even){
            margin-top: 1px;
            font-family:'basic';
            font-style: normal;
            font-weight: lighter;
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 0.18em;
            color: #50783B;
        }
    }
    img{
        width: 50px;
        height: 27px;
        position: absolute;
        top:559px;
        left: 162px;
    }
    .t3{
        font-family:'basic';
        font-style: normal;
        font-weight: lighter;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        position: absolute;
        top:592px;
        left: 146px;
    }
    .t4{
        padding-bottom: 21px;
        font-family:'basic';
        font-style: normal;
        font-weight: lighter;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        position: absolute;
        top:615px;
        left: 126px;
    }
}

