@keyframes reverseRotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(-360deg);}
}
@keyframes rotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(360deg);}
}
.home_backgroud{
    width: 100vw;
    background: url('../../assets/img/Home/999\ 1.png');
    background-size:contain;
    background-repeat: no-repeat;
    .t1{
        padding-left: 105px;
        padding-top: 253px;
        font-family:'basic';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.22em;
        color: #50783B;
    }
    .t2{
        padding-left: 95px;
        padding-top: 2px;
        font-family:'basic';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.22em;
        color: #50783B;
        span:nth-child(odd){
            font-family:'basic';
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            line-height: 29px;
            letter-spacing: 0.18em;
            color: #FFA302;
            display: inline-block;
            text-align: center;
            width:29px
        };
        span:nth-child(even){
            font-family:'basic';
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 0.18em;
            color: #50783B;
            display: inline-block;
        }
    }
    img{
        width: 50px;
        height: 27px;
        padding-left: 163px;
        padding-top: 239px;
    }
    .t3{
        padding-left: 148px;
        padding-top: 7px;
        font-family:'basic';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
    }
    .t4{
        padding-left: 128px;
        padding-top: 1px;
        padding-bottom: 21px;
        font-family:'basic';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
    }
}

