* {
  padding: 0;
  margin: 0;
}
input::-webkit-input-placeholder {
  color: #ffffff;
}
.backGround {
  width: 375px;
  height: 667px;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/create/background1.png");
  margin-top: 0;
  //防止子元素和父元素外边距重合
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  .nameSub {
    font-size: 12px;
    margin-top: 74px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    input {
      background: none;
      outline: none;
      border: none;
    }
    p {
      height: 15px;
      font-weight: 70px;
      font-family: "basic";
      color: #666666;
    }
    .name {
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      & > div {
        margin-top: 5px;
        width: 148px;
        height: 42px;
        background-size: 100%, 100%;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/create/name1.png);
      }

      .stuName {
        font-family: "basic";
        font-style: normal;
        font-weight: bold;
        font-size: 11.0311px;
        text-align: center;
        width: 148px;
        height: 42px;
        line-height: 15.44px;
        color: #fff;
      }
      .stuName-active {
        background-image: url(../../assets/img/create/name1-active.png);
      }
    }
    .sub {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .content {
    $c-width: 375px;
    height: 400px;
    margin-top: 42px;
    position: relative;
    overflow: hidden;
    .header {
      position: absolute;
      width: $c-width;
      top: 5px;
    }
    .body {
      z-index: 2;
      position: absolute;
      width: $c-width;
      top: 175px;
    }
    .footer {
      position: absolute;
      top: 233px;
      width: $c-width;
    }
  }
  .submit {
    margin-top: 10px;
    width: 375px;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    .paizi :active {
      background-color: red;
    }
    .paizi {
      .word {
        color: #ffffff;
        position: absolute;
        top: 12px;
        font-family: Y "basic";
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 42px;
      }
      position: relative;
      width: 164px;
      height: 100px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      background-image: url(../../assets/img/create/btn.png);
      font-family: "basic";
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      color: #666666;

      p {
        position: absolute;
        top: -30px;
      }
      .readyBtn {
        margin-top: 4px;
        color: #fff;
        background-color: rgb(22, 155, 213);
        border: none;
        width: 164px;
        height: 50px;
        border-radius: 5px;
        font-size: 12px;
        opacity: 0;
      }
    }
  }

  .warn {
    margin-top: 12px;
    font-size: 12px;
    color: #fff;
    display: none;
  }
}
//给swiper 按钮单独设置样式
.swiper-container {
  --swiper-theme-color: #ff6600;
  --swiper-navigation-color: rgb(239, 148, 40);
  --swiper-navigation-size: 40px;
}
//head微调
.headbox {
  width: 169.74px;
  display: flex;
  justify-content: center;
}
.headbox0 {
  width: 154px;
  height: 171.32px;
  transform: translate(13px, 2px);
}
.headbox1 {
  width: 125.12px;
  height: 147px;
  margin-left: 5px;
  transform: translate(0, 3px);
}
.headbox2 {
  width: 138.6px;
  height: 133px;
  transform: translateY(17px);
}
.headbox3 {
  width: 139px;
  height: 97px;
  transform: translate(4px, 15px);
}
//body微调
.bodybox {
  img {
    z-index: 2;
  }

  display: flex;
  justify-content: center;
}
.bodybox0 {
  width: 102px;
  height: 82.96px;
  transform: translate(4px, 2px);
}
.bodybox1 {
  width: 109px;
  height: 70.13px;
  transform: translateX(4px);
}
.bodybox2 {
  width: 120px;
  height: 90px;
  transform: translate(3px, 4px);
}
.bodybox3 {
  width: 139px;
  height: 77px;
  transform: translate(2px);
}
//foot微调
.footerbox {
  z-index: 1;
  display: flex;
  justify-content: center;
}
.footerbox0 {
  width: 79.49px;
  height: 123.65px;
  transform: translate(3.5px, 1px);
}
.footerbox1 {
  width: 80px;
  height: 129.23px;
  transform: translate(3px, 0px);
}
.footerbox2 {
  width: 79px;
  height: 128.01px;
  transform: translate(3px, -2px);
}
.footerbox3 {
  height: 135px;
  left: 151px;
  transform: translate(3px, 2px);
}
.swiper-slide {
  display: flex;
  justify-content: center;
}
.bigLetter {
  position: absolute;
  width: 375px;
  height: 0px;
  background-image: url(../../assets/img/create/bigletter.png);
  background-size: cover;
  bottom: 0;
  transition: 1s linear height;
  z-index: 3;
  pointer-events: none;
}
