.coverPop {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
}
.backPop {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 305px;
  height: 419px;
  background-image: url(../../../../../assets/img/room/Map/backPop.png);
  background-size: cover;
  z-index: 1000;
  .content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 283px;
    height: 307px;
    background-size: cover;
    .shut {
      transform: rotate(10deg);
      right: 0;
      top: 100px;
      position: absolute;
      width: 41px;
      height: 41px;
      background-image: url(../../../../../assets/img/room/letterpop/shut.png);
      background-size: cover;
    }

    .title {
      width: 300px;
      text-align: center;
      margin-left: 200px;
      margin-top: 20px;
      height: 42px;
      font-family: "basic";
      font-style: normal;
      font-weight: lighter;
      font-size: 30px;
      color: #3e600e;
    }
    .swip {
      width: 255px;
      height: 129px;
      background-size: cover;
      background-image: url(../../../../../assets/img/room/Map/swipback.png);
      display: flex;
      justify-content: center;
      align-items: center;
      .swipback {
        width: 238px;
        height: 114px;
        background-image: url(../../../../../assets/img/room/Map/swipborder.png);
        background-size: cover;
        .swiper-pagination {
          bottom: 0px;
        }
        .swiper-pagination-bullet {
          color: #e3eeb6;
        }
        .swiper-pagination-bullet-active {
          background: #40653a;
        }
        .mapPop {
          width: 238px;
          height: 114px;
        }
      }
    }
    .tag {
      margin-top: 6px;
      margin-left: 28px;
      width: 283px;
      & > p {
        width: 70px;
        height: 20px;
        font-family: "basic";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
        color: #2e4240;
        display: inline-block;
      }
      & > div {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0px;
        width: 250px;
        height: 60px;
        & > div {
          // 控制文字不换行
          white-space: nowrap;
          padding-left: 10px;
          padding-right: 10px;
          margin-right: 10px;
          height: 22px;
          background: #fef5d0;
          border: 1px solid #83bc96;
          box-sizing: border-box;
          border-radius: 20px;
          text-align: center;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 22px;
          /* identical to box height */

          color: #579d6b;
          /* Inside Auto Layout */
        }
      }
    }
  }
}
