#waiting {
    width: 100%;
}

#Waiting_header{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
    .Waiting_title{
        font-size: 30px;
    }
}
#Waiting_header img{
    width:70px;
    height: 70px;
}

#Waiting_loading{
    width:80%;
    height:100px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 50px;
    position: relative;
    .pro{
        width: 250px;
        height: 40px;
        border-radius:  20px;
        position: absolute;
    };
    .sp{
        position: absolute;
        top:40px
    }

}