@font-face {
    font-family: 'basic';
    src: url('../font/.font-spider/HuaWenYuanTi-Bold-2.ttf');
}
@font-face {
    font-family: 'Wendy One';
    src: url('../font/.font-spider/wendy-one.ttf');
}
