.map {
  position: relative;
  width: 1000px;
  height: 500px;
  background-color: crimson;
  .profile {
    width: 100px;
    height: 100px;
    background-color: chocolate;
    position: absolute;
    transition-timing-function: ease-in-out;
  }
  .action {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    margin-left: 200px;
  }
}
.window {
  position: absolute;
  height: 0px;
  width: 300px;
  background-color: darkcyan;
  transition-timing-function: ease-in-out;
  transition-duration: 2s;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
  .content {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
  }
}
