.diary_header{
    width: 88px;
    height: 31px;
    font-family: 'basic';
    font-style: normal;
    font-weight: lighter;
    font-size: 22px;
    line-height: 31px;
    color: #3E660E;
    margin-top:55px;
}
.title{
    margin-right: 200px;
    font-family:'basic';
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    line-height: 21px;
    color: #3E660E;
}
.buttons{
    width: 85%;
    display: flex;
    justify-content: space-between;
    button{
       width: 35px;
       height: 35px;
       border-radius: 50%;
       border: none;
       background-size: contain;
       background-repeat: no-repeat;
       margin-top: 13px;
    }
    .left_button{
        background:url('../../../assets/img/军训日记/button_left.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .right_button{
        background:url('../../../assets/img/军训日记/button_right.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.show{
    width: 268px;
    height: 150px;
    margin-top: 5px;
    background: url('../../../assets/img/军训日记/show1.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    div{
        margin-top: 11px;
        width: 251px;
        height: 130px;
        background-size: cover;
        border-radius: 10px;
    }
}

.diary_bg{
    width: 321px;
    height: 533.5px;
    background: url('../../../assets/img/军训日记/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative !important;
    }
    .box1{
        margin-top: 30px;
        text-align: center;
        font-family: 'basic';
        font-style: normal;
        font-weight: lighter;
        font-size: 19px;
        line-height: 27px;
        color: #3E660E;
        margin-right: 90px;
    }
    .box2{
        margin-top: 45px;
        margin-left: 105px;
        text-align: center;
        font-family: 'basic';
        font-style: normal;
        font-weight: lighter;
        font-size: 19px;
        line-height: 27px;
        color: #3E660E;
    }
    .box3{
        margin-top: 63px;
        margin-right: 150px;
        text-align: center;
        font-family: 'basic';
        font-style: normal;
        font-weight: lighter;
        font-size: 19px;
        line-height: 27px;
        color: #3E660E;
    }
    .box4{
        margin-top: 45px;
        margin-left: 90px;
        text-align: center;
        font-family: 'basic';
        font-style: normal;
        font-weight: lighter;
        font-size: 19px;
        line-height: 27px;
        color: #3E660E;
    }
    .box5{
       button{
           margin-top: 75px;
           margin-left: 210px;
           background: url('../../../assets/img/军训日记/button_right.png');
           width: 35px;
           height: 35px;
           border-radius: 50%;
           border: none;
           background-size: contain;
           background-repeat: no-repeat;
       }
}
.diary1{
    width: 321px;
    height: 533.5px;
    background: url('../../../assets/img/军训日记/bg2.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative !important;
    .essay{
        margin-top: 10px;
        width: 290px;
        height: 126px;
        font-family:'basic';
        font-style: normal;
        font-weight: lighter;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.05em;
        color: #666666;
    }
    .title{
        margin-top: 40px;
        margin-right: 200px;
        font-family:'basic';
        font-style: normal;
        font-weight: lighter;
        font-size: 15px;
        line-height: 21px;
        color: #3E660E;
    }
    .show1{
        background-image: url('../../../assets/img/军训日记/分列式.png');
    }
}
.diary2{
    width: 321px;
    height: 533.5px;
    background: url('../../../assets/img/军训日记/bg3.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative !important;
    .show2{
        background-image: url('../../../assets/img/军训日记/军体拳.png');
    }
    .show3{
        background-image: url('../../../assets/img/军训日记/战术.png');
    }
}
.diary3{
    width: 321px;
    height: 533.5px;
    background: url('../../../assets/img/军训日记/bg4.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative !important;
    .show4{
        background-image: url('../../../assets/img/军训日记/队列操.png');
    }
    .show5{
        background-image: url('../../../assets/img/军训日记/防爆.png');
    }
}
.diary4{
    width: 321px;
    height: 533.5px;
    background: url('../../../assets/img/军训日记/bg5.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative !important;
    .action_header{
        font-family:'basic';
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        line-height: 17px;
        color: #FABC45;
    }
    .action_body{
        width: 230px;
        font-family:'basic';
        font-style: normal;
        font-weight: lighter;
        font-size: 10px;
        line-height: 14px;
        color: #666666;
    }
    .action1{
        width: 268px;
        height: 93px;
        background: url('../../../assets/img/军训日记/防晒.png');
        background-size: cover;
        .action_header{
            margin-left: 30px;
            margin-top: 17px;
        }
        .action_body{
            margin-left: 20px;
            margin-top: 10px;
        }
    }
    .action2{
        width: 270px;
        height: 90px;
        background: url('../../../assets/img/军训日记/晒伤修复.png');
        background-size: cover;
        .action_header{
            margin-left: 30px;
            margin-top: 14px;
        }
        .action_body{
            margin-left: 20px;
            margin-top: 10px;
        }
    }
    .action3{
        width: 268px;
        height: 86px;
        background: url('../../../assets/img/军训日记/鞋垫.png');
        background-size: cover;
        .action_header{
            margin-left: 30px;
            margin-top: 10px;
        }
        .action_body{
            margin-left: 20px;
            margin-top: 10px;
        }
    }
    .action4{
        width: 268px;
        height: 89px;
        background: url('../../../assets/img/军训日记/多喝水.png');
        background-size: cover;
        .action_header{
            margin-left: 30px;
            margin-top: 14px;
        }
        .action_body{
            margin-left: 20px;
            margin-top: 10px;
        }
    }
    

}
.swiper_background{
    width: 321px;
    height: 533.5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
}
.swiper-button-next{
    top: 470px !important;
    right: 40px !important;
    background:url('../../../assets/img/军训日记/button_right.png');
    background-size: cover;
    width: 35px !important;
    height: 35px !important;
    content: none !important;
    &::after{
        content: none !important;
    }
}
.swiper-button-prev{
    top: 470px !important;
    left: 30px !important;
    background:url('../../../assets/img/军训日记/button_left.png');
    background-size: cover;
    width: 35px !important;
    height: 35px !important;
    content: none !important;
    &::after{
        content: none !important;
    }
}
